html {
	-ms-overflow-y: scroll; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	margin: 0px;
}
html {
	background: rgb(176, 175, 173);
}
body {
	background: rgb(176, 175, 173);
}
a {
	background-color: transparent;
}
a:active {
	outline: 0px;
}
a:hover {
	outline: 0px;
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
small {
	font-size: 80%;
}
sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0px currentColor; border-image: none;
}
hr {
	height: 0px; box-sizing: content-box; -moz-box-sizing: content-box;
}
button {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
input {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
optgroup {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
select {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
textarea {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}
select {
	text-transform: none;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
html input[type='button'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
html input[disabled] {
	cursor: default;
}
input {
	line-height: normal;
}
input[type='checkbox'] {
	padding: 0px; box-sizing: border-box;
}
input[type='radio'] {
	padding: 0px; box-sizing: border-box;
}
input[type='search'] {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-appearance: textfield; -webkit-box-sizing: content-box;
}
fieldset {
	margin: 0px 2px; padding: 0.35em 0.62em 0.75em; border: 1px solid rgb(192, 192, 192); border-image: none;
}
legend {
	padding: 0px; border: 0px currentColor; border-image: none;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: bold;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
td {
	padding: 0px;
}
th {
	padding: 0px;
}
th {
	text-align: left; font-weight: 700;
}
div {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
h1 {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
h2 {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
h3 {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
h4 {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.red-alert {
	color: rgb(255, 0, 0);
}
.red-alert * {
	color: rgb(255, 0, 0);
}
h1 {
	margin: 0px 0px 20px; color: rgb(204, 0, 0); line-height: 32px; font-size: 32px; font-weight: normal;
}
h2 {
	margin: 0px 0px 5px; color: rgb(36, 33, 27); text-transform: uppercase; line-height: 18px; font-size: 18px; font-weight: normal;
}
h3 {
	margin: 0px 0px 5px; color: rgb(36, 33, 27); text-transform: uppercase; line-height: 14px; font-size: 14px; font-weight: normal;
}
h4 {
	margin: 0px 0px 5px; color: rgb(36, 33, 27); line-height: 18px; font-size: 18px; font-weight: normal;
}
p {
	margin: 0px 0px 24px;
}
ul {
	margin: 0px 0px 24px 24px; padding: 0px;
}
ol {
	margin: 0px 0px 24px 24px; padding: 0px;
}
ul {
	list-style-type: disc;
}
ol {
	list-style-type: decimal;
}
li {
	margin: 0px 0px 4px;
}
a {
	color: rgb(50, 97, 148); text-decoration: none;
}
a:hover {
	color: rgb(68, 68, 68);
}
a:active {
	color: rgb(68, 68, 68);
}
a:focus {
	color: rgb(68, 68, 68);
}
blockquote {
	margin: 10px 20px 24px; padding: 10px; border-left-color: rgb(204, 0, 0); border-left-width: 4px; border-left-style: solid; background-color: rgb(237, 237, 237);
}
blockquote p:last-child {
	margin: 0px;
}
.block-img {
	width: 100%; display: block;
}
.clear {
	clear: both;
}
#container {
	line-height: 20px; font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 12px; position: relative; min-height: 100%;
}
.scholarships #container {
	line-height: 24px; font-size: 14px;
}
#header-body-wrap {
	background: url("../images/header-body-wrap.png") repeat-x left bottom rgb(3, 3, 3); padding: 10px;
}
.index #header-body-wrap {
	background: url("../images/index-header-body-wrap.png") repeat-x left bottom rgb(3, 3, 3); padding: 10px;
}
#header {
	margin: 0px auto 3px; border-bottom-color: rgb(37, 35, 32); border-bottom-width: 1px; border-bottom-style: solid; position: relative; min-height: 70px; max-width: 1000px;
}
#header-logo {
	width: 238px; height: 32px; float: left; display: block;
}
#nav-top {
	margin: 25px 0px 0px; float: right;
}
#menu {
	margin: 0px; list-style-type: none;
}
#menu li {
	padding: 0px 0px 0px 20px; float: left;
}
#menu li.display {
	display: none;
}
#menu a {
	color: rgb(163, 163, 163); font-size: 11px; text-decoration: none;
}
#menu a:hover {
	color: rgb(255, 255, 255);
}
#menu a.current {
	color: rgb(255, 255, 255);
}
.slicknav_menu {
	left: 0px; top: 5px; font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 18px; display: none; position: relative;
}
.slicknav_btn {
	line-height: 1.12em; vertical-align: middle; display: block; position: relative; cursor: pointer;
}
.slicknav_menu .slicknav_menutxt {
	line-height: 1.18em; margin-left: 15px; float: left; display: block;
}
.slicknav_menu .slicknav_icon {
	margin: 0.18em 0px 0px; float: left;
}
.slicknav_menu .slicknav_no-text {
	margin: 0px;
}
.slicknav_menu .slicknav_icon-bar {
	border-radius: 1px; width: 24px; height: 3px; display: block; box-shadow: 0px 1px 0px rgba(0,0,0,0.25); -webkit-border-radius: 1px; -moz-border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
	margin-top: 5px;
}
.slicknav_nav {
	clear: both;
}
.slicknav_nav ul {
	display: block;
}
.slicknav_nav li {
	display: block;
}
.slicknav_nav .slicknav_arrow {
	margin: 0px 0px 0px 0.4em; font-size: 0.8em;
}
.slicknav_nav .slicknav_item {
	cursor: pointer;
}
.slicknav_nav .slicknav_row {
	display: block;
}
.slicknav_nav a {
	display: block;
}
.slicknav_nav .slicknav_item a {
	display: inline;
}
.slicknav_nav .slicknav_parent-link a {
	display: inline;
}
.slicknav_menu::before {
	display: table; content: " ";
}
.slicknav_menu::after {
	display: table; content: " ";
}
.slicknav_menu::after {
	clear: both;
}
.slicknav_menu {
	
}
.slicknav_btn {
	text-decoration: none;
}
.slicknav_menu .slicknav_menutxt {
	color: rgb(163, 163, 163); font-weight: bold;
}
.slicknav_menu .slicknav_icon-bar {
	background-color: rgb(163, 163, 163);
}
.slicknav_menu {
	
}
.slicknav_nav {
	margin: 0px; padding: 0px; color: rgb(163, 163, 163);
}
.slicknav_nav {
	list-style: none; padding: 10px 0px 0px; overflow: hidden;
}
.slicknav_nav ul {
	list-style: none; padding: 10px 0px 0px; overflow: hidden;
}
.slicknav_nav ul {
	margin: 0px 0px 0px 20px; padding: 0px;
}
.slicknav_nav .slicknav_row {
	margin: 2px 5px; padding: 5px 10px;
}
.slicknav_nav a {
	margin: 2px 0px; padding: 5px 0px; color: rgb(163, 163, 163); text-decoration: none;
}
.slicknav_nav .slicknav_item a {
	margin: 0px; padding: 0px;
}
.slicknav_nav .slicknav_parent-link a {
	margin: 0px; padding: 0px;
}
.slicknav_nav a:hover {
	border-radius: 6px; -ms-zoom: 1; background-color: rgba(0, 0, 0, 0.3); -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
.slicknav_nav a:active {
	border-radius: 6px; -ms-zoom: 1; background-color: rgba(0, 0, 0, 0.3); -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
.slicknav_nav a:focus {
	border-radius: 6px; -ms-zoom: 1; background-color: rgba(0, 0, 0, 0.3); -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
.slicknav_nav a.current {
	border-radius: 6px; -ms-zoom: 1; background-color: rgba(0, 0, 0, 0.3); -webkit-border-radius: 6px; -moz-border-radius: 6px;
}
.slicknav_nav .slicknav_txtnode {
	margin-left: 15px;
}
#index-top {
	background: url("../images/index-top.png") no-repeat right 320px bottom 30px; margin: 0px auto; padding: 25px 0px 10px; position: relative; max-width: 1000px;
}
#index-top h2 {
	margin: 0px;
}
#index-top-left {
	float: left;
}
#index-top-right {
	width: 300px; float: right;
}
#index-top-left h2 a {
	color: rgb(255, 255, 255); line-height: 30px; font-size: 22px; text-decoration: none;
}
#index-top-left p {
	margin: 0px; padding: 5px 0px 0px; color: rgb(163, 163, 163); font-size: 14px;
}
#index-top-left p a {
	padding: 0px 9px 0px 0px; color: rgb(255, 255, 255); text-decoration: none;
}
.suretyone-side {
	padding: 0px 0px 20px; width: 274px;
}
.suretyone-side h2 a {
	background: url("../images/link-arrow-transparent.png") no-repeat right; padding: 0px 12px 0px 0px; color: rgb(255, 255, 255); font-size: 15.9px; text-decoration: none;
}
.suretyone-side p {
	margin: 0px; padding: 0px; color: rgb(163, 163, 163); font-size: 11px;
}
#program-wrap {
	margin: 15px 0px 0px;
}
#program-wrap div {
	padding: 5px 10px; width: 33%; float: left;
}
#program-wrap div::after {
	clear: both; display: table; content: "";
}
#program-center {
	border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
#program-wrap div a {
	width: 144px; height: 51px; float: left; display: block;
}
#program-wrap div p {
	margin: 0px 0px 0px 159px; line-height: 16px; font-size: 10px;
}
#body-wrap {
	margin: 0px auto; padding: 0px 0px 40px;
}
#body {
	margin: 0px auto; padding: 25px 20px; border-radius: 10px; max-width: 1000px; box-shadow: 0px 0px 10px 0px rgba(112,112,112,0.5); background-color: rgb(255, 255, 255); -webkit-border-radius: 10px; -moz-border-radius: 10px; -webkit-box-shadow: 0 0 10px 0 rgba(112, 112, 112, 0.5); -moz-box-shadow: 0 0 10px 0 rgba(112, 112, 112, 0.5);
}
#body-left {
	margin: 20px 0px 0px; padding: 0px 30px 0px 0px; width: 50%; float: left;
}
#body-right {
	margin: 20px 0px 0px; padding: 0px 0px 0px 30px; width: 50%; border-left-color: rgb(217, 217, 217); border-left-width: 1px; border-left-style: solid; float: left; min-height: 300px;
}
.content-left {
	margin: 20px 0px; width: 50%; vertical-align: top; display: inline-block;
}
.content-right {
	margin: 20px 0px; width: 50%; vertical-align: top; display: inline-block;
}
.content-left {
	padding-right: 20px;
}
.content-right {
	padding-left: 20px;
}
table {
	width: 95%;
}
#ssb {
	list-style: none; margin: 0px;
}
#ssb li {
	list-style: none;
}
.ssb-post#ssbw {
	margin: 0px 0px 10px; padding: 5px 10px; border-radius: 5px; box-shadow: 0px 0px 10px 0px rgba(112,112,112,0.5); -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0 0 10px 0 rgba(112, 112, 112, 0.5); -moz-box-shadow: 0 0 10px 0 rgba(112, 112, 112, 0.5);
}
.ssb-post#ssbw h3 {
	color: rgb(51, 51, 51); line-height: 20px; font-weight: bold;
}
.ssb-post#ssbw #ssb li {
	margin: 0px 10px 0px 0px; line-height: 16px; font-size: 16px; display: inline-block;
}
.ssb-post#ssbw #ssb a:link {
	color: rgb(204, 0, 0);
}
.ssb-post#ssbw #ssb a:visited {
	color: rgb(204, 0, 0);
}
.ssb-post#ssbw #ssb a:focus {
	color: rgb(119, 119, 119);
}
.ssb-post#ssbw #ssb a:hover {
	color: rgb(119, 119, 119);
}
.ssb-post#ssbw #ssb a:active {
	color: rgb(119, 119, 119);
}
.ssb-side#ssbw {
	border-width: 4px medium 4px 4px; border-style: solid none solid solid; border-color: rgb(255, 255, 255) currentColor rgb(255, 255, 255) rgb(255, 255, 255); margin: 0px 0px 0px -550px; border-image: none; left: 50%; top: 8px; width: 50px; text-align: center; position: fixed; border-top-left-radius: 10px; border-bottom-left-radius: 10px; background-color: rgb(204, 0, 0); -webkit-border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-bottomleft: 10px;
}
.ssb-side#ssbw h3 {
	margin: 0px; padding: 0px 0px 3px; text-align: center; color: rgb(204, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);
}
.ssb-side#ssbw h3 span {
	display: none;
}
.ssb-side#ssbw #ssb {
	box-shadow: inset 0px 0px 10px rgba(51,51,51,0.5); -webkit-box-shadow: inset 0 0 10px rgba(51, 51, 51, 0.5); -moz-box-shadow: inset 0 0 10px rgba(51, 51, 51, 0.5);
}
.ssb-side#ssbw #ssb li {
	margin: 0px; line-height: 40px; font-size: 26px; display: block;
}
.ssb-side#ssbw #ssb li span {
	display: none;
}
.ssb-side#ssbw #ssb a:link {
	color: rgb(255, 255, 255);
}
.ssb-side#ssbw #ssb a:visited {
	color: rgb(255, 255, 255);
}
.ssb-side#ssbw #ssb a:focus {
	color: rgb(221, 221, 221);
}
.ssb-side#ssbw #ssb a:hover {
	color: rgb(221, 221, 221);
}
.ssb-side#ssbw #ssb a:active {
	color: rgb(221, 221, 221);
}
.ssb-overlay#ssbw {
	left: 0px; width: 100%; height: 60px; text-align: center; bottom: 0px; position: fixed; z-index: 200; background-color: rgba(0, 0, 0, 0.6);
}
.ssb-overlay#ssbw h3 {
	color: rgb(255, 255, 255); line-height: 20px; font-weight: bold; display: block;
}
.ssb-overlay#ssbw #ssb li {
	margin: 0px 4%; font-size: 32px; display: inline-block;
}
.ssb-overlay#ssbw #ssb li span {
	display: none;
}
.ssb-overlay#ssbw #ssb a:link {
	color: rgb(255, 255, 255);
}
.ssb-overlay#ssbw #ssb a:visited {
	color: rgb(255, 255, 255);
}
.ssb-overlay#ssbw #ssb a:focus {
	color: rgb(221, 221, 221);
}
.ssb-overlay#ssbw #ssb a:hover {
	color: rgb(221, 221, 221);
}
.ssb-overlay#ssbw #ssb a:active {
	color: rgb(221, 221, 221);
}
a.expand-collapse {
	color: rgb(50, 97, 148); margin-bottom: 17px; float: left;
}
.all-bonds-links-right {
	text-align: right; float: right;
}
#glossary {
	color: rgb(77, 75, 68); line-height: 125%; padding-bottom: 20px;
}
.entry {
	background: rgb(246, 245, 242); padding: 2px 0px; margin-top: 5px; border-top-color: rgb(234, 233, 225); border-bottom-color: rgb(234, 233, 225); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; position: relative;
}
a.term {
	background: url("../images/plus.png") no-repeat 5px; padding: 0px 0px 0px 25px; color: rgb(77, 75, 68); text-decoration: none;
}
a.term.opened {
	background: url("../images/minus.png") no-repeat 5px; font-weight: bold;
}
.entry a:hover {
	color: rgb(170, 23, 51);
}
.entry a.e-red {
	color: rgb(170, 23, 51);
}
.entry a.e-red:hover {
	border-bottom-color: rgb(170, 23, 51); border-bottom-width: 1px; border-bottom-style: dotted;
}
.entry p {
	margin: 0px; padding: 0px 0px 0px 25px;
}
.definition {
	padding: 0px 5px 0px 25px;
}
.definition ul {
	list-style: none; margin: 10px 0px 0px;
}
.definition ul li {
	padding: 3px 0px;
}
.performance-bond {
	padding: 15px 50px; text-align: center;
}
.performance-bond img {
	margin: 0px auto 10px; display: block;
}
.performance-bond span {
	padding: 10px 0px 0px;
}
.note {
	margin: -10px 0px 15px; padding: 5px 10px; border: 1px solid rgb(204, 0, 0); border-image: none; color: rgb(204, 0, 0);
}
#tabNav {
	margin: 0px 0px 30px; border: 1px solid rgb(51, 51, 51); border-image: none; width: 90%; height: 33px; font-size: 18px;
}
.info {
	color: rgb(0, 0, 0); text-decoration: none; position: relative; z-index: 24; cursor: help;
}
.info:hover {
	z-index: 25; background-color: rgb(255, 255, 0);
}
.info span {
	display: none;
}
.info:hover span {
	padding: 10px; border: 1px solid rgb(0, 0, 0); border-image: none; left: 2em; top: 2em; width: 15em; text-align: center; color: rgb(0, 0, 0); display: block; position: absolute; background-color: rgb(204, 204, 204);
}
.error {
	padding: 10px 0px 0px; text-align: right; color: rgb(216, 0, 12);
}
.success {
	margin: 20px auto 0px; color: rgb(0, 102, 0); padding-bottom: 10px;
}
#contact-area {
	margin: 35px 0px; width: 356px;
}
input {
	margin: 0px 0px 10px; padding: 3px; border: 2px solid rgb(204, 204, 204); border-image: none; width: 277px;
}
textarea {
	margin: 0px 0px 10px; padding: 3px; border: 2px solid rgb(204, 204, 204); border-image: none; width: 277px;
}
textarea {
	height: 90px;
}
textarea:focus {
	border: 2px solid rgb(153, 0, 0); border-image: none;
}
input:focus {
	border: 2px solid rgb(153, 0, 0); border-image: none;
}
input.submit-button {
	width: 80px; float: right;
}
label {
	width: 54px; text-align: right; font-weight: bold; margin-right: 15px; float: left;
}
.field-info {
	padding: 0px 0px 3px; text-align: right;
}
#im-wrapper {
	margin: 10px 0px 0px; text-align: center;
}
#im-wrapper div {
	margin: 0px 5px; width: 74px; height: 24px; display: inline-block;
}
#im-aim {
	background: url("../images/social-media/contact-us/im-aim.png") no-repeat 0px 0px;
}
#im-msn {
	background: url("../images/social-media/contact-us/im-msn.png") no-repeat 0px 0px;
}
#im-gtalk {
	background: url("../images/social-media/contact-us/im-gtalk.png") no-repeat 0px 0px;
}
#im-yahoo {
	background: url("../images/social-media/contact-us/im-yahoo.png") no-repeat 0px 0px;
}
.sm-wrap {
	margin: 0px; width: 25%; overflow: hidden; padding-bottom: 20%; display: inline-block; position: relative;
}
.sm-content {
	width: 100%; height: 100%; text-align: center; position: absolute;
}
.sm-table {
	width: 100%; height: 100%; display: table;
}
.sm-cell {
	width: 100%; height: 100%; vertical-align: middle; display: table-cell;
}
.cp-linkedin {
	height: 16px; line-height: 16px; font-size: 14px; display: inline-block; position: relative;
}
a.cp-linkedin-icon {
	top: 0px; width: 16px; height: 16px; right: -22px; text-decoration: none; display: block; position: absolute;
}
p .cp-linkedin img {
	margin: 0px; float: none;
}
.bond-page h1 + h2 {
	margin: -10px 0px 20px; color: rgb(204, 0, 0); text-transform: none; line-height: 32px; font-size: 32px;
}
.bond-page h2 + h2 {
	margin: -10px 0px 20px; color: rgb(204, 0, 0); text-transform: none; line-height: 32px; font-size: 32px;
}
.bond-page h4 {
	padding: 0.4em 0px; color: rgb(51, 51, 51); line-height: 1.25em; font-size: 16px; font-weight: normal;
}
.bond-page h4.bond-alert {
	padding: 0px 0px 25px; text-align: center; color: rgb(204, 0, 0); line-height: 1.25em; font-size: 16px; font-weight: bold;
}
.bond-page h4.bond-alert a {
	margin: 10px auto 0px; padding: 5px; border-radius: 5px; border: 1px solid rgb(0, 0, 0); border-image: none; width: 50%; color: rgb(255, 255, 255); text-transform: uppercase; display: inline-block; box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.5); background-color: rgb(204, 0, 0); -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5); -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}
a.button {
	margin: 10px auto 0px; padding: 5px; border-radius: 5px; border: 1px solid rgb(0, 0, 0); border-image: none; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; display: inline-block; box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.5); background-color: rgb(204, 0, 0); -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5); -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}
#bond-left-wrap {
	margin: 20px -340px 0px 0px; width: 100%; float: left;
}
#bond-left {
	margin: 0px 340px 0px 0px;
}
#bond-left a {
	color: rgb(204, 0, 0);
}
#bond-left p {
	text-align: justify;
}
.bond-penalty {
	padding: 0px 0px 25px; line-height: 28px; font-size: 20px; font-weight: bold;
}
#bond-right {
	margin: 20px 0px 0px; width: 275px; color: rgb(0, 0, 0); float: right;
}
.all-bonds-state #bond-left-wrap {
	margin-top: 0px;
}
.all-bonds-state #bond-right {
	margin-top: 0px;
}
.all-bonds-state #bond-left-wrap {
	padding-top: 10px;
}
#what-we-need {
	border-radius: 10px; border: 1px solid rgb(204, 0, 0); border-image: none; width: 100%; max-width: 350px; box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.5);
}
#bond-right h3 {
	margin: 0px; padding: 10px; width: 100%; color: rgb(238, 0, 0); text-transform: none; line-height: 1.25em; font-size: 20px; font-weight: normal; max-width: 350px;
}
.bond-right-box {
	padding: 10px;
}
#bond-right ul {
	list-style: none; margin: 0px;
}
.bond-right-icons li {
	list-style: none; margin: 0px 0px 10px; padding: 0px 0px 0px 40px; height: 32px; line-height: 32px; background-image: url("../images/bond-pages/icon-sprite.png"); background-attachment: scroll; background-repeat: no-repeat;
}
.bri-pdf {
	background-position: 0px 0px;
}
.bri-phone {
	background-position: 0px -40px;
}
.bri-fax {
	background-position: 0px -80px;
}
.bri-email {
	background-position: 0px -120px;
}
.bri-aim {
	background-position: 0px -160px;
}
.bri-gt {
	background-position: 0px -200px;
}
.bri-ym {
	background-position: 0px -240px;
}
.bri-facebook {
	background-position: 0px -280px;
}
.bri-linkedin {
	background-position: 0px -320px;
}
.bri-twitter {
	background-position: 0px -360px;
}
.bri-manta {
	background-position: 0px -400px;
}
.bri-gplus {
	background-position: 0px -440px;
}
.bri-instagram {
	background-position: 0px -480px;
}
.bri-pinterest {
	background-position: 0px -520px;
}
.bond-right-icons li a {
	color: rgb(204, 0, 0); padding-bottom: 3px;
}
.bond-right-icons li a:hover {
	color: rgb(204, 0, 0); border-bottom-color: rgb(204, 0, 0); border-bottom-width: 1px; border-bottom-style: dotted;
}
.bond-right-icons li a:active {
	color: rgb(204, 0, 0); border-bottom-color: rgb(204, 0, 0); border-bottom-width: 1px; border-bottom-style: dotted;
}
.bond-right-icons li a:focus {
	color: rgb(204, 0, 0); border-bottom-color: rgb(204, 0, 0); border-bottom-width: 1px; border-bottom-style: dotted;
}
.bond-right-icons ul.what-we-need li {
	list-style: none; margin: 0px 0px 10px; padding: 0px 0px 4px 30px; height: auto; line-height: 18px; background-attachment: scroll; background-repeat: no-repeat;
}
.bond-right-icons ul.add-attach li {
	list-style: none; margin: 0px 0px 10px; padding: 0px 0px 4px 30px; height: auto; line-height: 18px; background-attachment: scroll; background-repeat: no-repeat;
}
.bond-right-icons ul.add-resource li {
	list-style: none; margin: 0px 0px 10px; padding: 0px 0px 4px 30px; height: auto; line-height: 18px; background-attachment: scroll; background-repeat: no-repeat;
}
.bond-right-icons ul.what-we-need li {
	background-position: 0px 0px; background-image: url("../images/bond-pages/what-we-need.png");
}
.bond-right-icons ul.add-attach li {
	background-position: 2px 2px; background-image: url("../images/bond-pages/add-attach.png");
}
.bond-right-icons ul.add-resource li {
	background-position: 2px 2px; background-image: url("../images/bond-pages/add-resource.png");
}
#state-dropdown-wrap {
	margin: 0px 0px 10px;
}
#state-dropdown-wrap * {
	vertical-align: middle;
}
#state-dropdown-wrap i {
	display: none;
}
#state-dropdown-wrap input {
	margin: 0px;
}
.all-bonds-main #state-dropdown-wrap i {
	color: rgb(204, 0, 0); font-size: 24px; margin-right: 5px; display: inline-block;
}
.all-bonds-main #state-dropdown-wrap form {
	display: inline-block;
}
input#state-submit {
	width: auto;
}
#state-dropdown {
	height: 24px;
}
#footer {
	background: url("../images/footer.png") repeat-x left top rgb(176, 175, 173); padding: 60px 10px 10px; width: 100%; color: rgb(124, 122, 120); font-size: 14px;
}
.footer-content {
	margin: 0px auto; max-width: 1000px;
}
.footer-content h4 {
	text-align: center; color: rgb(124, 122, 120);
}
#footer-phone {
	padding: 0px 0px 10px; text-align: center;
}
#footer-phone span {
	padding: 0px 40px 10px; font-size: 14px; display: inline-block;
}
#footer-left-wrap {
	padding: 10px 0px 0px; width: 50%; text-align: left; vertical-align: top; display: inline-block;
}
#footer-right-wrap {
	padding: 10px 0px 0px; width: 50%; text-align: right; vertical-align: top; display: inline-block;
}
#footer-right {
	width: 95%; vertical-align: top; display: inline-block;
}
#footer-left {
	width: 95%; vertical-align: top; display: inline-block;
}
#footer-center {
	margin: 0px auto; padding: 10px 0px 0px; width: 100%; text-align: center;
}
#footer a {
	color: rgb(124, 122, 120);
}
#footer-links {
	padding: 15px 0px;
}
#copyright {
	padding: 20px 0px; text-align: center;
}
#social {
	padding: 10px 0px 0px;
}
#social a {
	margin: 0px 8px 15px; display: inline-block;
}
.bbb-wrap {
	margin: 5px 20px; padding: 31px 0px 0px; width: 95px; height: 26px; display: inline-block; position: relative;
}
.bbb-acbus {
	background: url("../images/cbbb-badge-horz.png") no-repeat 0px 0px; left: 0px; top: 0px; width: 69px; height: 26px; text-indent: -9999px; display: block; position: absolute;
}
.bbb-aplus {
	background: url("../images/cbbb-accred-a-plus.png") no-repeat 0px 0px; left: 72px; top: 0px; width: 26px; height: 26px; text-indent: -9999px; display: block; position: absolute;
}
.bond-cats {
	background: linear-gradient(rgb(176, 175, 173) 0%, rgb(0, 0, 0) 30%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%); margin: 60px -10px 20px; padding: 40px 0px; border-bottom-color: rgb(204, 0, 0); border-bottom-width: 3px; border-bottom-style: solid;
}
.bond-cats .footer-content {
	padding: 0px 20px;
}
.bond-cats .footer-content p:last-child {
	margin: 0px;
}
.bond-cats h1 {
	
}
.bond-cats h1 {
	padding: 5px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; font-size: 32px;
}
.bond-cats h2 {
	margin: 10px 0px 20px; padding: 5px; text-align: center; color: rgb(204, 0, 0); line-height: 18px; font-size: 18px;
}
.bond-cats h3 {
	color: rgb(255, 255, 255); line-height: 18px; font-size: 18px;
}
#footer .bond-cats a {
	color: rgb(255, 102, 102); text-decoration: none; border-bottom-color: rgb(255, 102, 102); border-bottom-width: 1px; border-bottom-style: dotted;
}
#footer .bond-cats p {
	text-align: justify; color: rgb(255, 255, 255); padding-bottom: 25px;
}
#footer .bond-cats a:hover {
	color: rgb(255, 255, 255); text-decoration: none; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: dotted;
}
#footer .bond-cats a:active {
	color: rgb(255, 255, 255); text-decoration: none; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: dotted;
}
#footer .bond-cats a:focus {
	color: rgb(255, 255, 255); text-decoration: none; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: dotted;
}
ol.steps {
	font: 14px/22px "Open Sans", sans-serif; margin: 0px; padding: 0px; counter-reset: li; font-size-adjust: none; font-stretch: normal;
}
ol.steps > li {
	list-style: none; margin: 0px 0px 60px 80px; text-align: justify; position: relative;
}
ol.steps > li::before {
	font: bold 30px/50px "Open Sans", sans-serif; border-radius: 50%; left: -80px; top: -15px; width: 50px; height: 50px; text-align: center; color: rgb(255, 255, 255); position: absolute; content: counter(li); counter-increment: li; font-size-adjust: none; font-stretch: normal; box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.4); background-color: rgb(204, 0, 0);
}
#fc-button-init {
	border-radius: 50%; width: 50px; height: 50px; text-align: center; color: rgb(255, 255, 255); cursor: pointer;
}
#fc-button-sec {
	border-radius: 50%; width: 50px; height: 50px; text-align: center; color: rgb(255, 255, 255); cursor: pointer;
}
#fc-button-init i {
	line-height: 50px; font-size: 30px; font-weight: bold;
}
#fc-button-sec i {
	line-height: 50px; font-size: 30px; font-weight: bold;
}
#fc-button-init {
	top: 200px; right: 10px; position: fixed; z-index: 100; background-color: rgba(204, 0, 0, 1);
}
#fc {
	background: rgb(255, 255, 255); padding: 10px; border-radius: 10px 0px 0px; width: 100%; height: auto; right: 0px; bottom: 0px; display: none; position: fixed; z-index: 99; max-width: 320px; box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5); -webkit-border-radius: 10px 0 0 0; -moz-border-radius: 10px 0 0 0; -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
.fc-preload#fc {
	left: -2000px; top: -2000px; display: block;
}
#fc-button-sec {
	display: inline-block; background-color: rgba(204, 0, 0, 1);
}
#fc-header {
	font: 30px/50px "Open Sans", sans-serif; margin: 0px 0px 0px 10px; color: rgb(204, 0, 0); display: inline-block; font-size-adjust: none; font-stretch: normal;
}
#fc-button-close {
	top: 5px; right: 5px; color: rgb(204, 0, 0); font-size: 26px; position: absolute; z-index: 100; cursor: pointer;
}
#fc-form {
	margin: 15px auto;
}
.intl-tel-input {
	width: 100%;
}
.fc-form-label {
	width: 100%; box-sizing: border-box;
}
.fc-form-field input {
	width: 100%; box-sizing: border-box;
}
.fc-form-label {
	font-weight: bold;
}
.hide {
	display: none;
}
#fc-form-submit {
	margin: 15px 0px 0px; text-align: right;
}
#fc-form-submit input.submit-button {
	font: 16px/24px "Open Sans", sans-serif; margin: 0px; padding: 0px 10px; border-radius: 5px; border: 1px solid rgb(51, 51, 51); border-image: none; width: auto; color: rgb(255, 255, 255); float: none; font-size-adjust: none; font-stretch: normal; background-color: rgb(204, 0, 0);
}
#fc-message {
	margin: 5px 0px 0px;
}
#fc-social {
	padding: 0px 0px 10px; text-align: center;
}
#fc-twitter {
	padding: 6px 0px 0px 1px; vertical-align: middle; display: inline-block; position: relative; -ms-zoom: 1;
}
#richSnippetReviews {
	margin-top: 10px;
}
.fb-like {
	vertical-align: middle; position: relative;
}
.fb_iframe_widget_fluid {
	display: inline-block !important;
}
.valid-msg {
	color: rgb(0, 102, 0);
}
.error-msg {
	color: rgb(204, 0, 0);
}
.img-resp {
	margin: 5px 0px; width: 100%; height: auto; display: block;
}
.video-wrap {
	height: 0px; position: relative;
}
.video-wrap-16x9 {
	padding-bottom: 56.25%;
}
.video-wrap iframe {
	border: currentColor; border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.feature-image-wrap {
	background-position: center; margin: 10px auto; width: 100%; height: auto; overflow: hidden; position: relative; background-attachment: scroll; background-repeat: no-repeat; background-size: cover;
}
.state-image-wrap {
	background-position: center; margin: 10px auto; width: 100%; height: auto; overflow: hidden; position: relative; background-attachment: scroll; background-repeat: no-repeat; background-size: cover;
}
.feature-image-wrap {
	padding-bottom: 33.33%;
}
.feature-image-wrap span {
	font: 36px/70px "Open Sans", sans-serif; padding: 0px 10px; left: 0px; width: 100%; height: 70px; right: 0px; bottom: 0px; color: rgb(255, 255, 255); position: absolute; box-sizing: border-box; font-size-adjust: none; font-stretch: normal; background-color: rgba(0, 0, 0, 0.3); -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.state-image-wrap {
	padding-bottom: 20%;
}
.half-left {
	width: 50%; vertical-align: top; display: inline-block;
}
.half-right {
	width: 50%; vertical-align: top; display: inline-block;
}
#pl-button {
	margin: 40px auto 0px; width: 96%; height: auto; display: block; max-width: 300px;
}
#pl-button img {
	width: 100%; height: auto; display: block;
}
.pl-overlay {
	background: rgba(0, 0, 0, 0.7); transition:opacity 500ms; left: 0px; top: 0px; right: 0px; bottom: 0px; visibility: hidden; position: fixed; opacity: 0;
}
:target.pl-overlay {
	visibility: visible; opacity: 1;
}
.pl-popup {
	background: rgb(255, 255, 255); font: 24px/36px "Open Sans", sans-serif; margin: 70px auto; padding: 20px; border-radius: 5px; transition:5s ease-in-out; width: 50%; position: relative; font-size-adjust: none; font-stretch: normal;
}
.pl-popup .pl-close {
	transition:200ms; top: 20px; right: 30px; color: rgb(51, 51, 51); font-size: 30px; font-weight: bold; text-decoration: none; position: absolute;
}
.pl-popup .pl-close:hover {
	color: rgb(6, 216, 95);
}
.pl-popup .pl-popup-content {
	padding: 20px 0px; text-align: center; overflow: auto; max-height: 45%;
}
.state-bond-wrap {
	padding: 0px 0px 25px; width: 45%; vertical-align: top; display: inline-block;
}
:nth-of-type(2n+1).state-bond-wrap {
	margin-right: 5%;
}
:nth-of-type(2n).state-bond-wrap {
	margin-left: 5%;
}
.state-bond-wrap h2 {
	text-transform: none; font-size: 14px;
}
#bond-left .state-bond-wrap p {
	text-align: left; margin-bottom: 0px;
}
.tele-third {
	padding: 0px 15px; width: 33.33%; vertical-align: top; display: inline-block;
}
#bond-left .tele-third p {
	text-align: left;
}
.scholarship-about img {
	margin: 5px 0px 0px 10px; width: 40%; height: auto; float: right;
}
@media screen and (max-width:1136px)
{
.ssb-post#ssbw {
	display: none;
}
}
@media screen and (max-width:1000px)
{
#program-wrap div a {
	margin: 0px auto; float: none;
}
#program-wrap div p {
	margin: 10px auto 0px; text-align: center; font-size: 12px; max-width: 180px;
}
}
@media screen and (max-width:850px)
{
#header-logo {
	margin: 0px auto; left: 0px; top: 0px; right: 0px; float: none; position: absolute;
}
.slicknav_menu {
	display: block;
}
#menu {
	display: none;
}
#nav-top {
	float: none;
}
#index-top {
	background: none; padding-top: 0px;
}
#index-top-left {
	background: url("../images/index-top-left.png") no-repeat center; text-align: center; padding-top: 15px; float: none; min-height: 120px;
}
#index-top-right {
	margin: 25px 0px; width: auto; float: none;
}
.suretyone-side {
	padding: 0px 20px; width: 33%; height: auto; float: left;
}
#body-left {
	margin: 20px 0px; padding: 0px; width: auto; float: none;
}
#body-right {
	margin: 0px; padding: 0px; width: auto; border-left-color: currentColor; border-left-width: medium; border-left-style: none; float: none;
}
#im-wrapper div {
	margin: 0px 3%;
}
.sm-wrap {
	width: 12.5%; padding-bottom: 12.5%;
}
.bond-page h4.bond-alert a {
	margin: 10px auto 0px; padding: 5px 12px; width: auto;
}
#bond-left-wrap {
	margin: 20px 0px 0px; width: 100%; float: none;
}
#bond-left {
	margin: 0px;
}
#bond-right {
	width: 100%; float: none;
}
#bond-right h3 {
	margin: 0px auto; max-width: 400px;
}
.bond-right-box {
	margin: 0px auto 25px; max-width: 400px;
}
}
@media screen and (max-width:750px)
{
.content-left {
	width: 100%; display: block;
}
.content-right {
	width: 100%; display: block;
}
.content-left {
	padding-right: 0px;
}
.content-right {
	padding-left: 0px;
}
}
@media screen and (max-width:680px)
{
#program-wrap div {
	padding: 5px 0px 15px; width: auto; float: none;
}
#program-center {
	border: currentColor; border-image: none;
}
#program-wrap div a {
	margin: 0px; float: left;
}
#program-wrap div p {
	padding: 0px 0px 0px 20px; height: 51px; text-align: left; font-size: 14px; vertical-align: middle; display: table-cell; max-width: none;
}
.sm-wrap {
	width: 25%; padding-bottom: 15%;
}
a.expand-collapse {
	color: rgb(50, 97, 148); margin-bottom: 17px; float: none;
}
.all-bonds-links-right {
	margin: 0px 0px 25px; text-align: left; float: none;
}
}
@media screen and (max-width:600px)
{
#index-top-right {
	margin: 25px 0px 10px;
}
.suretyone-side {
	padding: 10px 0px; width: auto; float: none;
}
#footer-left-wrap {
	padding: 10px 0px 0px; width: 100%; text-align: center; display: block;
}
#footer-right-wrap {
	padding: 10px 0px 0px; width: 100%; text-align: center; display: block;
}
#footer-right {
	width: 100%; display: inline-block;
}
#footer-left {
	width: 100%; display: inline-block;
}
.feature-image-wrap span {
	font: 24px/40px "Open Sans", sans-serif; height: 40px; font-size-adjust: none; font-stretch: normal;
}
}
@media screen and (max-width:540px)
{
.sm-wrap img {
	width: 50px; height: 50px;
}
.pl-popup {
	font: 20px/28px "Open Sans", sans-serif; margin: 20px auto; width: 96%; font-size-adjust: none; font-stretch: normal;
}
.state-bond-wrap {
	padding: 0px 0px 25px; width: 100%;
}
:nth-of-type(2n+1).state-bond-wrap {
	margin-right: 0px;
}
:nth-of-type(2n).state-bond-wrap {
	margin-left: 0px;
}
}
@media screen and (max-width:510px)
{
#im-wrapper div {
	margin: 0px 2%;
}
.tele-third {
	width: 50%;
}
}
@media screen and (max-width:460px)
{
ol.steps > li {
	margin: 0px 0px 30px 50px;
}
ol.steps > li::before {
	font: bold 20px/30px "Open Sans", sans-serif; left: -50px; top: -6px; width: 30px; height: 30px; font-size-adjust: none; font-stretch: normal;
}
}
@media screen and (max-width:440px)
{
#index-top-left br {
	display: none;
}
.index #body h2 {
	text-align: center;
}
#program-wrap div a {
	margin: 0px auto; float: none;
}
#program-wrap div p {
	margin: 10px auto 20px; padding: 0px; height: auto; text-align: center; display: block; max-width: 300px;
}
.error {
	text-align: left;
}
#contact-area {
	margin: 20px 0px; width: 100%;
}
input {
	width: 100%;
}
textarea {
	width: 100%;
}
input.submit-button {
	float: none;
}
label {
	width: auto; text-align: left; margin-right: 0px; float: none; display: block;
}
.field-info {
	text-align: left;
}
#im-wrapper div {
	margin: 0px 7%;
}
#footer-phone span {
	padding: 0px 10px;
}
}
@media screen and (max-width:420px)
{
#footer-links {
	font-size: 10px;
}
#body-right .half-left {
	width: 100%;
}
#body-right .half-right {
	width: 100%;
}
.sm-wrap {
	width: 33%; padding-bottom: 25%;
}
.feature-image-wrap span {
	font: 16px/20px "Open Sans", sans-serif; height: 20px; font-size-adjust: none; font-stretch: normal;
}
}
@media screen and (max-width:390px)
{
ol.steps > li {
	margin: 0px 0px 30px;
}
ol.steps > li::before {
	display: none;
}
}
@media screen and (max-width:370px)
{
#header-logo {
	left: auto;
}
.tele-third {
	padding: 5px 0px 0px; width: 100%;
}
.all-bonds-main #state-dropdown-wrap i {
	display: none;
}
#footer-phone span {
	font-size: 12px;
}
#footer-left {
	text-align: center; float: none;
}
#footer-right {
	padding: 10px 0px 0px; text-align: center; float: none;
}
#bbb-wrap {
	margin: 5px auto 0px; width: 95px; height: 26px; position: relative;
}
}
@media screen and (max-width:340px)
{
input#state-submit {
	width: 100%;
}
#state-dropdown {
	width: 100%;
}
input#state-submit {
	text-align: center; margin-top: 5px;
}
}
